body {
  background-color: gray;
  color: white;
}

h1 {
  text-align: center;
}

#testimonials-container {
  height: 75vh;
  width: 75ch;
  overflow-y: scroll;
  margin: auto;
  padding: 10px;
  border-radius: 12px;
  background-color: #001119;
}

.testimonial {
  font-size: 18px;
  margin: 16px;
  padding: 10px;
  border-top: 4px solid #11967e;
  border-radius: 8px;
  background-color: #00557f;
}
